@keyframes arrow {
    0% {
		transform: rotate(180deg) scale(1.4,1) translateY(-3rem);
    }
    50% {
		transform: rotate(180deg) scale(1.4,1) translateY(3rem);
    }
	100% {
		transform: rotate(180deg) scale(1.4,1) translateY(-3rem);
    }
}
