+b.page
	+e.wrap.wrap
		+e.head
			+b.breadcrumbs
				a(href="main.html") Главная 
				| / Биография
			.flex.flex_center
				+e.head-title.title
					h1.h2 Биография
		+b.biography
			+e.list
				+e.right._foto
					+e.IMG.img(src="/img/biography__img.jpg")
				+e.item
					+e.IMG.foto(src="/img/avatar1.jpg")
					+e.title
						| 1980 год - начало обучения в школе
					+e.desc
						p
							| деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития. Задача организации, в особенности же рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.
						p
							| Таким образом консультация с широким активом играет важную роль в формировании дальнейших направлений развития. Не
				+e.item
					+e.IMG.foto(src="/img/avatar2.jpg")
					+e.title
						| 1991 год - начало обучения в МГУ
					+e.desc
						p
							| Разнообразный и богатый опыт новая модель организационной деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений 
				+e.item
					+e.IMG.foto(src="/img/avatar3.jpg")
					+e.title
						| 1996 - 2009 год - служба в войсках
					+e.desc
						p
							| Разнообразный и богатый опыт новая модель организационной деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития. Задача организации, в особенности же рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие 