+b.FOOTER.footer
	+e.wrap.wrap
		+e.row.flex._justify._vertical
			+e.left
				+e.A.logo(href="main.html")
					img(src="/img/logo.png")
				+e.desc
					+e.desc-name
						| Евгений Маркович Шин
					+e.desc-text
						| помощник советника президента РФ по делам СНГ
			+e.NAV.nav
				ul
					li
						a(href="main.html") Главная
					li
						a(href="news.html") Новости
					li
						a(href="news.html") СМИ
					li
						a(href="biography.html") Биография
					li
						a(href="reception.html") Приёмная