+b.HEADER.header
	+e.wrap.wrap
		+e.row.flex_vertical
			+e.A.logo(href="main.html")
				img(src="/img/logo.png")
			+e.NAV.nav
				ul
					li
						a(href="main.html") Главная
					li
						a(href="news.html") Новости
					li
						a(href="news.html") СМИ
					li.current-menu-item
						a(href="biography.html") Биография
					li
						a(href="reception.html") Приёмная