+b.last-news
	+e.wrap.wrap
		+e.head.flex_center
			+e.head-title.title
				h2.h2 Последние новости
		+e.list.flex_justify
			+e.A.item(href="#")
				+e.date 01.02.2020
				+e.H3.title.h3
					| Кому помешали на Дальнем Востоке рабочие?
				+e.desc.p
					| Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по
			+e.A.item(href="#")
				+e.date 01.02.2020
				+e.H3.title.h3
					| Кому помешали на Дальнем Востоке рабочие?
				+e.desc.p
					| Деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Товарищи! начало повседневной работы
			+e.A.item(href="#")
				+e.date 01.02.2020
				+e.H3.title.h3
					| Кому помешали на Дальнем Востоке рабочие?
				+e.desc.p
					| Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по
			+e.A.item(href="#")
				+e.date 01.02.2020
				+e.H3.title.h3
					| Кому помешали на Дальнем Востоке рабочие?
				+e.desc.p
					| Деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Товарищи! начало повседневной работы
			+e.A.item(href="#")
				+e.date 01.02.2020
				+e.H3.title.h3
					| Кому помешали на Дальнем Востоке рабочие?
				+e.desc.p
					| Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по
			+e.A.item(href="#")
				+e.date 01.02.2020
				+e.H3.title.h3
					| Кому помешали на Дальнем Востоке рабочие?
				+e.desc.p
					| Деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Товарищи! начало повседневной работы
		.flex.flex_center
			+e.A.btn.btn(href="news.html") Все новости
.arrow
	+icon('chevron-up','0 0 284.929 284.929')