+b.main
	+e.wrap.wrap
		+e.header.flex_vertical
			+e.A.header-logo(href="main.html")
				img(src="/img/logo.png")
			+e.NAV.header-nav
				ul
					li
						a(href="news.html") Новости
					li
						a(href="news.html") СМИ
					li
						a(href="biography.html") Биография
					li
						a(href="reception.html") Приёмная
		+e.content
			+e.H1.title.h1
				| Шин Евгений Маркович
			+e.desc
				| Помощник советника президента 
				br
				| РФ по делам СНГ
.arrow
	+icon('chevron-up','0 0 284.929 284.929')