+b.page
	+e.wrap.wrap
		+e.head
			+b.breadcrumbs
				a(href="main.html") Главная 
				| / Биография
			.flex.flex_center
				+e.head-title.title
					h1.h2 Новости
		+b.news
			+e.A.top(href="#")
				+e.top-head
					+e.top-title
						span.color-brown Последние новости 
						| | Кому помешали на Дальнем Востоке рабочие?
					+e.date 01.02.2020
				+e.top-desc
					| Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Товарищи! начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке соответствующий условий активизации.
			+e.arrow.arrow
				+icon('chevron-up','0 0 284.929 284.929')
			+e.list
				+e.A.item(href="#")
					+e.item-head
						+e.H3.title Кому помешали на Дальнем Востоке рабочие?
						+e.date 01.02.2020
					+e.desc
						| Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Товарищи! начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке соответствующий условий активизации.
				+e.A.item(href="#")
					+e.item-head
						+e.H3.title Кому помешали на Дальнем Востоке рабочие?
						+e.date 01.02.2020
					+e.desc
						| Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Товарищи! начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке соответствующий условий активизации.
				+e.A.item(href="#")
					+e.item-head
						+e.H3.title Кому помешали на Дальнем Востоке рабочие?
						+e.date 01.02.2020
					+e.desc
						| Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Товарищи! начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке соответствующий условий активизации.
				+e.A.item(href="#")
					+e.item-head
						+e.H3.title Кому помешали на Дальнем Востоке рабочие?
						+e.date 01.02.2020
					+e.desc
						| Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Товарищи! начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке соответствующий условий активизации.
			+e.pagin.pagin__
				+e.A.prev(href="#")
					+icon('prev','0 0 6.97 11.09')
				+e.SPAN.current 1
				+e.A.number(href="#") 2
				+e.A.number(href="#") 3
				+e.A.number(href="#") ...
				+e.A.number(href="#") 14
				+e.A.next(href="#")
					+icon('next','0 0 7 11.03')
				