.footer {
	background: #2f3542;
	padding: 45rem 0 45rem 0;
	color: #fff;
	&__left {
		display: flex;
		align-items: center;
	}
	&__logo {
		display: block;
		width: 70rem;
		margin-right: 17rem;
		img {
			display: block;
			width: 100%;
		}
	}
	&__desc {
		&-name {
			font-size: 18rem;
			color: $brown;
		}
		&-text {
			font-size: 12rem;
			margin-top: 7rem;
		}
	}
	&__nav {
		ul {
			display: flex;
			list-style: none;
			li {
				&:not(:last-child) {
					padding-right: 20rem;
					margin-right: 20rem;
				}
			}
			li {
				font-size: 18rem;
				position: relative;
				a {
					color: #fff;
					&:hover {
						color: $brown;
					}
				}
				&:not(:last-child):after {
					content: '|';
					color: $brown;
					position: absolute;
					right: 0;
					top: 0;
				}
			}
		}
	}
}

@include max-screen($small_tablet) {
	.footer {
		&__desc {
			display: none;
		}
	}
}

@include max-screen($large_mobile) {
	.footer {
		&__row {
			display: block;
		}
		&__desc {
			display: block;
		}
		&__nav {
			padding-top: 10px;
			ul {
				flex-wrap: wrap;
				li {
					margin-top: 10px;
					width: 33.33%;
					&:not(:last-child) {
						margin-right: 0;
					}
					&:not(:last-child):after {
						display: none;
					}
				}
			}
		}
	}
}







